<button class="bt">
    <div class="light-holder">
        <div class="dot"></div>
        <div class="light"></div>
    </div>
    <div class="button-holder discord">
        <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 16v-5.5C11 8.5 9.4 7 7.5 7m3.5 9H4v-5.5C4 8.5 5.6 7 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
            ></path>
        </svg>
        <p>Correo</p>
    </div>
</button>

<style is:global>
    .light-button.correo button.bt .button-holder {
        color: rgba(2, 135, 223, 1);
        outline: rgba(2, 135, 223, 1) 2px solid;
    }

    .light-button.correo button.bt .button-holder svg {
        fill: rgba(2, 135, 223, 1);
    }

    .light-button.correo button.bt .light-holder .light {
        background: linear-gradient(
            180deg,
            rgba(2, 135, 223, 1) 0%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%
        );
    }
</style>
