---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
    title="Portfolio de Carlos Abarca - Desarrollador y Programador Web"
    description="Portfolio de Carlos Abarca, desarrollador y programador web. Conoce más sobre mi y mis proyectos."
>
    <SectionContainer class="py-20 pb-24">
        <h1 class="text-white">Contacto</h1>
    </SectionContainer>
</Layout>
