---
const personalImageAlt = "Carlos Abarca";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Carlos Abarca, pero mis amigos me dicen Carlitos. Comence en
      el mundo de la programación a los 21 años, cuando ingrese a la carrera de
      Ingeniería en Informática en Duoc UC. Actualmente tengo 25 años y tengo 4
      años de experiencia en el mundo laboral.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
