<div
    class="carlosAboutMe"
    data-css-peeps="gray-short suspicious glasses1 laptop"
>
</div>

<style>
    .carlosAboutMe {
        --peep-hat-color: #000000;
        --peep-hair-color: #000000;
        --peep-skin-color: #dcc8b7;
        --peep-accessory-color: #00ff00;
        --peep-facial-hair-color: #ffd700;
        --peep-object-color: #5f77f2;
        --peep-clothes-color: #31353a;

        --peep-flipped: 1;

        display: inline-block;
        width: 75rem;
        height: 18rem;
        background: transparent;
        border-radius: 10px;
    }

    @media only screen and (max-width: 768px) {
        .carlosAboutMe{
            width: 300px;
        }
    }
</style>
