<div class="carlosLogo" data-css-peeps="gray-short smile coffee"></div>

<style>
    .carlosLogo {
        --peep-hat-color: #000000;
        --peep-hair-color: #000000;
        --peep-skin-color: #dcc8b7;
        --peep-accessory-color: #00ff00;
        --peep-facial-hair-color: #ffd700;
        --peep-object-color: #2444e5;
        --peep-clothes-color: #7a7575;
        --peep-flipped: 1;
        display: inline-block;
        width: 300px;
        height: 16rem;
        background: transparent;
        border-radius: 10px;
    }
</style>
