---
import ExperienceItem from "./ExperienceItem.astro"
const experiences = [
    {
        title: "Desarrollador Liferay",
        date: "Abril 2022 - Actualidad",
        description: "Desarrollo de portlets y temas para Liferay",
        image: "/companys/nttdata.jpg",
    },
    {
        title: "Desarrollador Full Stack",
        date: "Agosto 2020 - Abril 2022",
        description: "Desarrollo de portlets y temas para Liferay",
        image: "/companys/flagare.jpeg",
    },
    {
        title: "Desarrollador Web",
        date: "Febrero 2020 - Agosto 2022",
        description: "Desarrollo de portlets y temas para Liferay",
        image: "/companys/liferay.png",
    },
];
---
<div class="w-full max-w-3xl mx-auto">

  <div class="-my-6">

    {
      experiences.map((experience, index) => (
        <ExperienceItem {...experience} />
      ))
    } 

  </div>

</div>
