<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg mt-20 mb-10">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center justify-center"
    >
        <span class="text-sm sm:text-center text-white"
            >© 2024 <a href="https://www.linkedin.com/in/carlos-abarca-calderon-716432148/" class="hover:underline"
                >Carlos Abarca™</a
            >. Todos los derechos reservados.
        </span>
    </div>
</footer>
