<a
    class="rounded-full md:px-4 px-2 text-xs md:text-base border border-white/10 flex align-center justify-center items-center gap-x-2 p-2 hover:bg-white/10 hover:scale-110 transition-colors duration-300"
    {...Astro.props}
    rel="noopener noreferrer"
    target="_blank"
>
    <slot />
</a>
